<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-side isolate">
    <label
      for="my-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu p-4 gap-2 w-60 min-h-full bg-base-200 text-base-content">
      <!-- Sidebar content here -->
      <li><a href="#">Sidebar Item #1</a></li>
      <li><a href="#">Sidebar Item #2</a></li>
      <li><a href="#">Sidebar Item #3</a></li>
      <li><a href="#">Sidebar Item #4</a></li>
      <li><a href="#">Sidebar Item #5</a></li>
      <li><a href="#">Sidebar Item #6</a></li>
      <li><a href="#">Sidebar Item #7</a></li>
    </ul>
  </div>
</div>
