<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="htmx-config" content='{"includeIndicatorStyles": false}' />

    <title>{% block title %}FastHTMX{% endblock title %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/htmx.org@1.9.9/dist/htmx.min.js"></script>

    {% block head_extra %}{% endblock head_extra %}
  </head>
  <body>
    {% block content %}{% endblock content %}
  </body>
</html>
